<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap Template</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
  </head>

  <body>

  <div class="jumbotron">
    <div class="container">
      <h1>UTD Ratings</h1>
     <p>Search for courses, Professors, field of study.
      </p>
     
     <div class="topnav">
        <input type ="text" placeholder="Search">
      </div>
      <br>
     <p><a class="btn btn-primary btn-lg" href="#" role="button">Search »</a> <a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
      <script src="js/bootstrap.min.js"></script>

   </div>
  </div>
  </body>
</html>